.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

button {
    border-radius: 70%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-top: 15px;
    height: 65px;
    width: 65px;
    color: #fff;
    background-color: #333333;
    font-size: large;
}

button:active, button:focus {
    filter: brightness(120%)
}

.zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
}

.main-operations {
    background-color: #ff9501;
}

.other-operations {
    background-color: #a6a6a6;
    color: #000000
}